<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <div class="content-box p-4">
          <h2 class="text-center mb-4">USUARIOS DE LA EMPRESA</h2>
          <div class="row">
            <div *ngFor="let usuario of usuarios | async" class="col-sm-12 col-md-6 col-lg-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
                  <p class="card-text">
                    <strong>ID:</strong> {{ usuario.id }} <br>
                    <strong>Correo Electrónico:</strong> {{ usuario.correo_electronico }} <br>
                    <strong>Teléfono:</strong> {{ usuario.telefono }} <br>
                    <strong>Dirección:</strong> {{ usuario.direccion }} <br>
                  </p>
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-info mx-2" [routerLink]="['/usuarios/editar', usuario.id]">Editar</a>
                    <a class="btn btn-danger mx-2" (click)="borrarUsuario(usuario.id)">Borrar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a class="btn btn-primary btn-lg mt-4 mx-2" [routerLink]="['/usuarios/agregar']" style="background-color: #007bff; border-color: #007bff;">
              Nuevo Usuario
            </a>
            <a class="btn btn-secondary btn-lg mt-4 mx-2" [routerLink]="['/']" style="background-color: #6c757d; border-color: #6c757d;">
              Inicio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Estilos embebidos -->
  <style>
    .content-box {
      background-color: #ececec; 
      border-radius: 15px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    h2 {
      color: #17b3b8;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 30px;
    }
  
    .card {
      border-radius: 15px;
      transition: all 0.3s ease;
    }
  
    .card:hover {
      transform: scale(1.05);
    }
  
    .card-title {
      color: #17b3b8;
      font-weight: bold;
    }
  
    .card-text {
      font-size: 14px;
    }
  
    .btn-info {
      background-color: #17b3b8;
      border-color: #17a2b8;
      color: white; 
    }
  
    .btn-danger {
      background-color: #dc3545;
      border-color: #dc3545;
      color: white; 
    }
  
    @media (max-width: 767.98px) {
      .card {
        margin-bottom: 1rem;
      }
    }
  
    @media (min-width: 768px) and (max-width: 991.98px) {
      .col-md-6 {
        margin-bottom: 1rem;
      }
    }
  </style>
  