<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #mascotaForm="ngForm">
        <!-- Nombre -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="mascota.nombre" name="nombre">
          </div>
        </fieldset>
        
        <!-- Edad -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="edad">Edad</label>
            <input type="number" class="form-control" required [(ngModel)]="mascota.edad" name="edad">
          </div>
        </fieldset>
        
        <!-- Raza -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="raza">Raza</label>
            <input type="text" class="form-control" required [(ngModel)]="mascota.raza" name="raza">
          </div>
        </fieldset>
        
        <!-- Género -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="genero">Género</label>
            <select class="form-control" required [(ngModel)]="mascota.genero" name="genero">
              <option value="" disabled>Seleccione el género</option>
              <option value="Macho">Macho</option>
              <option value="Hembra">Hembra</option>
            </select>
          </div>
        </fieldset>
        
        <!-- Estado -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="estado">Estado</label>
            <input type="text" class="form-control" required [(ngModel)]="mascota.estado" name="estado">
          </div>
        </fieldset>
  
        <!-- Botón Enviar -->
        <fieldset class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!mascotaForm.form.valid">Enviar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  